:root {
    --navbar-height: 5rem;
    --navbar-padding: 5rem;
    --light-gray: rgb(229, 229, 229);
    --mid-gray: rgb(151, 151, 151);
    --dark-gray: rgb(80, 80, 80);

    --form-planner-width: 15vw;
    --form-display-width: 80vw;
}

* {
    padding: 0;
    margin: 0;
}

nav {
    width: calc(100vw - 2 * var(--navbar-padding));
    height: var(--navbar-height);
    background-color: #0e0c13;
    display: flex;
    align-items: space;
    justify-content: space-between;
    padding: 0 var(--navbar-padding);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav h1 {
    color: white;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    height: var(--navbar-height);
    width: 10rem;
    margin: 5px;
    background-image: linear-gradient(var(--dark-gray), var(--light-gray));
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main h1 {
    text-align: center;
}

main h1.main_error {
    margin-top: 2rem;
    font-size: xx-large;
}

div.form_overlay {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

section.form_planner {
    height: calc(100vh - var(--navbar-height));
    width: var(--form-planner-width);
    border-right: 1px solid black;
}

section.form_planner form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

section.form_display {
    height: calc(100vh - var(--navbar-height));
    width: var(--form-display-width)
}